organization.id=
europeana.oai.endpoint=
# Values can be CREATE_OAIPMH_WORKFLOWS, CREATE_PREVIEW_WORKFLOWS, CREATE_PUBLISH_WORKFLOWS
mode=CREATE_MAP

#Truststore
truststore.path=
truststore.password=

#Mongo
mongo.hosts=
mongo.port=
mongo.authentication.db=
mongo.username=
mongo.password=
mongo.enableSSL=
mongo.db.original=
mongo.db.temporary=