spring.application.name=remove-tombstone-data-batch
spring.datasource.driver-class-name=org.hsqldb.jdbc.JDBCDriver
spring.datasource.url=jdbc:hsqldb:mem:testdb;DB_CLOSE_DELAY=-1
spring.datasource.username=
spring.datasource.password=
spring.jpa.hibernate.ddl-auto=create

#Mongo
mongo.hosts=
mongo.ports=
mongo.authenticationDB=
mongo.username=
mongo.password=
mongo.enableSSL=
mongo.tombstoneDB=
#Not setting this will results to default
mongo.connectionPoolSize=

#Solr
solr.hosts=

#Zookeeper
zookeeper.hosts=
zookeeper.ports=
zookeeper.chroot=
zookeeper.defaultCollection=

#Possible values DRY_RUN, DEFAULT
#DRY_RUN for running through the processing without removing records.
#DEFAULT for a normal operation of process and index.
app.mode=DEFAULT
app.batchChunkSize=5
