#Mongo metis-core
mongo.core.hosts=
mongo.core.port=
mongo.core.authentication.db=
mongo.core.username=
mongo.core.password=
mongo.core.enableSSL=
mongo.core.db=
mongo.core.application.name=

#eCloud
ecloud.mcs.baseUrl=
ecloud.provider=
ecloud.username=
ecloud.password=

#Truststore
truststore.path=
truststore.password=

#Mongo published records
mongo.publish.hosts=
mongo.publish.port=
mongo.publish.authentication.db=
mongo.publish.username=
mongo.publish.password=
mongo.publish.enableSSL=false
mongo.publish.db=

#Solr/Zookeeper published records
solr.publish.hosts=
zookeeper.publish.hosts=
zookeeper.publish.port=
zookeeper.publish.chroot=
zookeeper.publish.defaultCollection=
