#Days are inclusive of 24 hours.
#A start day will start from the beginning of the day, while an end day will end at the end of the specified day
#For example start day 0 and end day 0 means the whole current day from 00:00:00 and ending on the same day at 23:59:59
#This must be higher or equal number than the end.number.of.days.ago
start.number.of.days.ago=0
#This must be lower or equal number than the start.number.of.days.ago. Zero for today.
end.number.of.days.ago=0

#Truststore
truststore.path=
truststore.password=

#Mongo
mongo.hosts=
mongo.port=
mongo.authentication.db=
mongo.username=
mongo.password=
mongo.enableSSL=
mongo.db=