#Mongo
mongo.hosts=
#mongo.hosts=
mongo.port=

#Zoho access
zoho.base.url=
zoho.base.url.v2=
zoho.authentication.token=

#Filter settings for Zoho query
#for multiple values e.g. roles - comma separated strings
zoho.organization.search.criteria.role=

#Entity API Solr Url
entity.importer.solr.url=
entity.api.solr.docs.folder=