#Mongo
#deprecated mongo.hosts=
#deprecated mongo.port=
#mongo connection url
mongo.connectionUrl=mongodb://localhost:27017

#Zoho access
zoho.base.url=
zoho.base.url.v2=
zoho.authentication.token=

#Filter settings for Zoho query
#for multiple values e.g. roles - comma separated strings
zoho.organization.search.criteria.role=

#Entity API Solr Url
entity.importer.solr.url=
#deprecated, used just for testing purposes
entity.api.solr.docs.folder=

#Solr Doc Generator
entity.importer.docs.generator.python=
entity.importer.docs.generator.pythonpath=
entity.importer.docs.generator.pythonscript=
entity.importer.docs.generator.pythonworkdir=
