rows.per.request=
#Those datasets will only be checked for dead redirects
dataset.ids.to.check=
#This value is true if we don't won't the actual removal of redirect to happen and only require the stats
#Default true
dry.run=
#Truststore
truststore.path=
truststore.password=

#Mongo
mongo.hosts=
mongo.port=
mongo.authentication.db=
mongo.username=
mongo.password=
mongo.enableSSL=
mongo.db=
mongo.db.redirects=

#Mongo records
records.mongo.hosts=
records.mongo.port=
records.mongo.authentication.db=
records.mongo.username=
records.mongo.password=
records.mongo.enableSSL=
records.mongo.db=