#mode is CREATE_MAP or REVERSE_MAP
mode=CREATE_MAP

#Truststore
truststore.path=
truststore.password=

#Mongo
mongo.hosts=
mongo.port=
mongo.authentication.db=
mongo.username=
mongo.password=
mongo.enableSSL=
mongo.db.original=
mongo.db.temporary=