#Directory that contains one file per dataset, and each file contains a resource url per line
directory.with.resources.per.dataset.path=
#Possible values DEFAULT, RETRY_FAILED.
#The DEFAULT value will skip all lines that have already been processed.
#The RETRY_FAILED value will attempt to redo all lines that have failed.
mode=DEFAULT
#The number of parallel executions, each thread will take care of one dataset.
max.parallel.threads=
#The number of parallel threads allocated to each file.
parallel.threads.per.file=
#The index of the file in the directory to start from. Starting from 1
start.from.file.index.in.directory=
#The index of the file in the directory to end at. The file on that index is processed.
end.at.file.index.in.directory=
#The timeout, in milliseconds, of the connection to the resource.
resource.connect.timeout=
#The timeout, in milliseconds, of the socket after connecting to the resource.
resource.socket.timeout=
#Truststore
truststore.path=
truststore.password=

#Mongo
mongo.hosts=
mongo.port=
mongo.authentication.db=
mongo.username=
mongo.password=
mongo.enableSSL=
mongo.db=

#S3
s3.access.key=
s3.secret.key=
s3.endpoint=
s3.bucket=